.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 400px;
  } 
  
  .baloon {
      position: absolute;
      left: 400px;
      bottom: 200px;
  
  }
  
  .speach {
    position: absolute;
    left: 420px;
    bottom: 270px;
    font-size: 25px;
    z-index: 1;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 700px;
    top: 200px;
  }